*{
    margin: 0;
    padding: 0;
}

.png{
    height: 450px;
    padding-left: 100px;
}

.first{
    width: 100%;
    height: 100vh;
    background-color: #7776B3;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    padding-bottom: 50px;
}

.txt{
    padding-left: 50px;
}

p{
    width: 350px;
    text-align: center;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.second > img {
    width: 200px;
    border-radius: 50%;
    margin-top: 75px;
    margin-bottom: 50px;
}

h2{
    font-family: "Caveat", cursive;
    padding-bottom: 50px;
}

.second > p {
   text-align: center;
   width: 400px;
   height: 150px;
}

.third{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 100px;
}

footer{
    width: 100%;
    height: 30vh;
    background-color: #7776B3;
}

.contact > h3 {
  padding-top: 100px;
  padding-right: 50px;
  font-size: 50px;
  font-family: "Caveat", cursive;
  text-align: center;
  padding-bottom: 50px;
}

.pngegg > img {
    margin-top: 60px;
    margin-right: 200px;
    padding-right: 100px;
    height: 300px;
}

.last{
    display: flex;
    justify-content: center;
}

.last > p {
    opacity: 85%;
}

@media (max-width: 1086px){
    .first {
        gap: 0;
    }
@media (max-width: 1075px){
    .png{
        padding-left: 50px;
    }
}

@media (max-width: 1024px){
    .first {
        flex-direction: column;
        gap: 70px;
           }
    img.png {
        height: 250px;
        }
    p.txt {
        font-size: smaller;
    }    
    }
}

@media (max-width: 1024px){
    .second{
        justify-content: center;
    }
}

@media (max-width: 1110px){
    .third{
        gap: 0;
    }
}

@media (max-width: 1024px){
    .pngegg > img {
    margin-right: 100px;
    padding-right: 0;
}

}

@media (max-width: 800px) {
    .third{
        flex-direction: column;
        align-items: center;   
        justify-content: center;
    }
    .pngegg > img{
        display: none;
    }

    .contact > h3 {
        padding-top: 20px;
    } 
    @media (max-width: 430px){
        .first > .txt{
            padding:0;
        }
    }
}
